body {
    background: #fefefe;
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
    font-size: 15pt;
}

input {
    display: block;
    border: 1px solid;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 300px;
}

label{
    display: block;
    font-size: 12pt;
    margin-bottom: 10px;
}