<head>
    <meta charset="utf-8">
    <title>Private</title>
    <link rel='stylesheet' href="/public/css/site.css">

</head>

<body>
    <main>
        <h1>This is private</h1>
        
    </main>
</body>