<head>
    <meta charset="utf-8">
    <title>Logout</title>
    <link rel='stylesheet' href="/public/css/site.css">

</head>

<body>
    <main>
        <h1>You have been logged out! :)))))))))... Your cookie should be cleared</h1>
        <a href="/">Link Home baby -> '/', should see login screen again now that you have been logged out</a>
    </main>
</body>