<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel='stylesheet' href="/public/css/site.css">

</head>

<body>
    <main>
        <h1>LOGIN!!!! :) </h1>
        <form id="login-form" action="/login" method="post">
            <label for="username">Enter User Name</label>
            <input name="username" id="username" type="text">
            <label for ="password">Enter Password</label>
            <input name="password" id="password" type="text">
            <input type="submit" value="Submit">
        </form>
    </main>
</body>